<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="HMSDBEntities" connectionString="metadata=res://*/HMSEntityModel.csdl|res://*/HMSEntityModel.ssdl|res://*/HMSEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\SQLEXPRESS;initial catalog=HMSDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HMSDBEntities" connectionString="metadata=res://*/HMSEntityModel.csdl|res://*/HMSEntityModel.ssdl|res://*/HMSEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLOBGGN032\SQL2014EXPRESS;initial catalog=HMSDb;user id=sa;password=globrin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="HMSDBEntities" connectionString="metadata=res://*/HMSEntityModel.csdl|res://*/HMSEntityModel.ssdl|res://*/HMSEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME\SQLEXPRESS;initial catalog=HMSDb;user id=sa;password=tanmay;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HMSDBEntities" connectionString="metadata=res://*/HMSEntityModel.csdl|res://*/HMSEntityModel.ssdl|res://*/HMSEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\SQLEXPRESS;initial catalog=HMSDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>