<!--1-->
<div class="box1">
    <strong>Appointments</strong>
    <table>
        <tr>
            <td>New Application Received</td>
            <td class="lst_td">0</td>
        </tr>

    </table>
</div>

<!--2-->
<div class="box2">
    <strong>Medical Records</strong>
    <table>
        <tr>
            <td>Patient History</td>
            <td class="lst_td">0</td>
        </tr>
        <tr>
            <td>Patient Appointments</td>
            <td class="lst_td">0</td>
        </tr>
    </table>
</div>
<!--3-->
<div class="box3">
    <strong>User Management</strong>
    <table>
        <tr>
            <td>Birthdays Today</td>
            <td class="lst_td">0</td>
        </tr>

    </table>
</div>

<!--Latest-->
<div class="latest">
    <div class="lat_head1">Latest Circular</div>
</div>
<!--Latest-->
<div class="latest">
    <div class="lat_head2">Latest News</div>
</div>